*,  *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.Button {
    display: flex;
    align-items: center;
    align-self: center;
    width: 100%;
    height: 100%;
}

.button {
    font-size: 100px;
    color: white;
}